*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFF3DD;
  }
 

  nav{
    background-color:#f5cf45;
   position: fixed;
   padding: .5rem;
    width: 100%;
    top: 0;
  }

  .menus{
    float: right;
    
    margin-top: 0.8rem;
    
    border-radius: 0.7rem;
    width: fit-content;
  }
 
  nav ul li a{
    color:black; 
    gap: 25px;
   
    font-family: 'Epilogue', sans-serif;
    text-decoration: none;
    font-size: 16px;
    }
    .logo{
        font-family:"AkkuratMonoRegular",sans-serif;
        font-weight: 800;
        font-size: 20px;
        margin-top: 0.7rem;
    }
    #checkbtn{
        font-size: 20px;
        float: right;
        margin-top: 2rem;
        height: fit-content;
        width: fit-content;
        margin-right: 90px;
        cursor: pointer;
        display:none;
        align-self:center;
        color: white;
      
    }
   
    #check{
        display:none;
    }
    
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFF3DD;
  }
 

  nav{
    background-color:#f5cf45;
   position: fixed;
   padding: .5rem;
    width: 100%;
    top: 0;
  }

  .menus{
    float: right;
    
    margin-top: rem;
    margin-right: 0.4rem;
    border-radius: 0.7rem;
    width: fit-content;
  }
 
  nav ul li a{
    color:black; 
    gap: 25px;
   
    font-family: 'Epilogue', sans-serif;
    text-decoration: none;
    font-size: 16px;
    }
    .logo{
        font-family:"AkkuratMonoRegular",sans-serif;
        font-weight: 800;
        font-size: 20px;
        margin-top: 0.7rem;
    }
    #checkbtn{
        font-size: 20px;
        float: right;
        margin-top: 2rem;
        height: fit-content;
        width: fit-content;
        margin-right: 90px;
        cursor: pointer;
        display:none;
        align-self:center;
        color: white;
    }
   
   
   
    #check{
        display:none;
    }

    .sp{
        margin-top: -0.2rem;
    }

    .menu-close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 35px;
        color:#664D36;
        cursor: pointer;
        float: right;
      
    
        padding: 0.4rem;
        height: fit-content;
        margin-top: -1rem;
        border-radius: 0.7rem;
        width: fit-content;
    }
    .header-background{
        width: 100%;
        margin-top: 3rem;
        height: 20rem;
        object-fit: cover;
    }

    .header-hero{
        background-image: url('../img/istockphoto-1383962772-612x612.jpg');
        padding-bottom: 20rem;
        object-fit: contain;
        background-position: center;
        background-size:cover ;
        background-repeat: no-repeat;
    }

    .main{
   
        width: 80%;
        margin: auto;
    } 
h1{
  padding-top: 7rem;
   margin-top: rem;
   font-weight: 600;
   font-size: 30px;
  color:#664D36;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

p{

font-family: Karla, sans-serif;
font-size: 15px;
line-height: 1.5;
font-weight: 400;
color: #664D36;
margin-top: 1rem;
}


    .footer-container{
      
       
         display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        row-gap: 1rem;
       
    }
    .footer{
        background-color:#f5cf45;
        margin-top: 7rem;
        padding: 1rem;
       
    }
    ol ,.link-text,a{
        font-size: 18px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       color: #664D36;
       text-decoration: none;
       margin-top: 1rem;
    }
    .box-header{
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 19px;
     font-weight: 700;
     color: #664D36;
    }
    
    
        .footer-container{
          
           
             display: grid;
            grid-template-columns: 1fr 1fr;
            gap: rem;
           
        }
    


        @media (width >= 999px){
            .menus,.menu-close{
                display: none;
            }

            .ul-wrapper{
                display: flex;
                list-style: none;
                gap: 2rem;
                float: right;
                margin-top: -1.4rem;
            }
            nav{
                padding: 1.5rem;
            }
            .img{
                height:400px;
                width: 400px;
                margin: auto;
                display: flex;
                object-fit: cover;
                border-radius: 1rem;
            }

            h1{
                font-size: 40px;
            }
            p{
                font-size: 19px;
            }
            .main{
                margin-top: -1rem;
                width: 70%;
            }
            .box-header{
                font-size: 30px;
            }
            ol{
                font-size: 26px;
            } 
            h2{
                font-size: 35px;
            }
            .footer-container{
                width: fit-content;
                margin: auto;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 2rem;
             }

        }

    @media (max-width:999px){
        .checkbtn{
            display: block;
           
        }
       
        .flex-box{
            margin-top: 4rem;
        }
        .box-container{
            margin-top: 2rem;
        }
        .center-text{
            text-align: center;
        }
       
    ul{
    
        
    /*  position:absolute;
     width: 100%;
     height: 100vh;
     background:black;
     
     text-align: right;
    
     transition:  all 0.5s; */
    }
    
    ul{
        position:fixed;
        height: 100vh;
        width: 250px;
        background-color: rgb(46, 45, 45);
        right:0;
        left: -100%;
        box-shadow: 2px 0 2px;
        color: #FFF3DD;
        top: 0rem;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         text-align:start;
         background-color:#FFF3DD;
         font-family: 'Epilogue', sans-serif;
         transition: all 0.5s ;
         
        }
    
        .menu-items{
            overflow: scroll;
      scroll-snap-align: y mandatory;
      scroll-snap-type: mandatory;
            
        }
        .menu-items::-webkit-scrollbar{
            display: none;
        }
    
    .span{
        margin-top: 3rem;
        font-size: 12px;
        color: grey;
        font-weight: 700;
        margin-left: 3rem;
    }
    
    
    nav ul li a{
        display:block;
        margin: 35px 0px;
        line-height: 1px;
        font-size: 18px;
        color:#664D36;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        list-style:none;
        margin-top: 4rem;
        margin-left: 3rem;
    }
    
    li{
        list-style: none;
    }
    
    .btn{
        width: 100%;
        display: flex;
    }
    ul li a{
        font-size:16px;
        
    }
    
    
    #check:checked ~ ul{
        left: 0;
    }
    }
    